<div align="center">
  <button class="btn btn-danger"
          type="button"
          (click)="onButtonClicked()">
    {{ buttonText }}
  </button>
  <p *ngIf="buttonClicked">Напій продається більш ніж у 200 країнах світу. Компанія «Кока-кола» також володіє торговими
    марками і виробляє цілий ряд інших напоїв: «Кока-кола Лайт», «Спрайт», «Фанта», «Бонаква» та інші. «Кока-кола»
    виділяється в цьому ряді не тільки як прохолоджувальний, але і як енергетичний, і, можливо, навіть спортивний напій.
    Деякою мірою «кока-кола» є і символом США.</p>
</div>
