@import '../../app.component.less';

.other-container {
  margin: 50px 0;
  & .text {
    margin: 50px;
  }
}

.btn {
  width: 200px;

  &:hover,
  &:focus {
    background: @white_deep;
    color: @primary-red-color;
    outline: none;
  }
}
