@primary-red-color: #F40009;

.row {
  margin: 5% 7%;
}

.btn {
  width: 200px;

  &:hover,
  &:focus {
    background: white;
    color: @primary-red-color;
    outline: none;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
