<div class="autocomplete-section">

  <form [formGroup]="autocompleteForm">
    <div class="form-group">
      <label>City</label>
      <input id="city"
             type="text"
             class="form-control"
             formControlName="city"
             (click)="toogleDropdown()"
             autocomplete="off">
      <div *ngIf="showDropdown" class="city-dropdown-container">
        <div (click)="changeCity(city)" class="city-text" *ngFor="let city of citiesNames | searchFilter: getCityValue()">
          {{city}}
        </div>
      </div>
      <span *ngIf="!autocompleteForm.get('city').valid && autocompleteForm.get('city').touched"
            class="text-muted">
        Please enter a city!
      </span>
    </div>

    <div class="autocomplete-row">
      <div class="form-group autocomplete-col">
        <label>Pick-up date</label>
        <input id="pickUpDate"
               type="Date"
               class="form-control"
               formControlName="pickUpDate">
        <span *ngIf="!autocompleteForm.get('pickUpDate').valid && autocompleteForm.get('pickUpDate').touched"
              class="text-muted">
        Please enter a date!
      </span>
      </div>

      <div class="form-group autocomplete-col">
        <label>Pick-up time</label>
        <input id="pickUpTime"
               type="Time"
               class="form-control"
               formControlName="pickUpTime">
        <span *ngIf="!autocompleteForm.get('pickUpTime').valid && autocompleteForm.get('pickUpTime').touched"
              class="text-muted">
        Please enter time!
      </span>
      </div>
    </div>

    <div class="autocomplete-row">
      <div class="form-group autocomplete-col">
        <label>Drop-off date</label>
        <input id="dropOffDate"
               type="Date"
               class="form-control"
               formControlName="dropOffDate">
        <span *ngIf="!autocompleteForm.get('dropOffDate').valid && autocompleteForm.get('dropOffDate').touched"
              class="text-muted">
        Please enter a date!
      </span>
      </div>

      <div class="form-group autocomplete-col">
        <label>Drop-off time</label>
        <input id="dropOffTime"
               type="Time"
               class="form-control"
               formControlName="dropOffTime">
        <span *ngIf="!autocompleteForm.get('dropOffTime').valid && autocompleteForm.get('dropOffTime').touched"
              class="text-muted">
        Please enter time!
      </span>
      </div>
    </div>

    <div class="form-group">
      <label>Age</label>
      <select class="custom-select" (change)="changeAgeOption($event)" formControlName="age">
        <option value="" disabled>Choose your city</option>
        <option *ngFor="let ageOption of ageOptions" [ngValue]="ageOption">{{ageOption}}</option>
      </select>
    </div>

    <button type="submit"
            class="btn btn-danger search-button"
            data-toggle="modal"
            data-target="#resultModal"
            [disabled]="!autocompleteForm.valid">
      Search
    </button>
  </form>

  <div class="modal fade"
       id="resultModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="resultModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resultModalLabel">Your data</h5>
        </div>
        <div class="modal-body">
          <p>City: {{autocompleteForm.get('city').value}}</p>
          <p>Pick up date: {{autocompleteForm.get('pickUpDate').value}}</p>
          <p>Pick up time: {{autocompleteForm.get('pickUpTime').value}}</p>
          <p>Drop off date: {{autocompleteForm.get('dropOffDate').value}}</p>
          <p>Drop off time: {{autocompleteForm.get('dropOffTime').value}}</p>
          <p>Age: {{autocompleteForm.get('age').value}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Ok</button>
        </div>
      </div>
    </div>
  </div>

</div>
