@import '../../app.component.less';

.autocomplete-form {
  width: 100%;
  position: relative;

  .dropdown-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    background: @white_deep;
    border: 1px solid @darkgray;
    overflow-y: auto;

    .text {
      padding: 2% 5%;
    }
  }
}
