<div class="application-form">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">

    <h3 class="heading">Personal information</h3>
    <div formGroupName="personalInfo">
      <div class="form-group">
        <label>Full name:</label>
        <input
          id="fullName"
          type="text"
          class="form-control"
          formControlName="fullName">
      </div>

      <div class="form-group">
        <div class="custom-row">
          <div class="custom-col">
            <label>Date of birth:</label>
            <input
              id="dateOfBirth"
              type="date"
              class="form-control"
              formControlName="dateOfBirth">
          </div>
          <div class="custom-col col-to-right">
            <label>Phone number:</label>
            <input
              id="phoneNumber"
              type="text"
              class="form-control"
              formControlName="phoneNumber">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-row">
          <div class="custom-col">
            <label>Marital status:</label>
            <select
              class="form-control"
              formControlName="maritalStatus">
              <option value="" disabled>Choose your marital status</option>
              <option *ngFor="let maritalStatus of maritalStatusOptions"
                      [ngValue]="maritalStatus">
                {{maritalStatus}}
              </option>
            </select>
          </div>
          <div class="custom-col col-to-right">
            <label>Email:</label>
            <input
              id="email"
              type="text"
              class="form-control"
              formControlName="email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Address:</label>
        <input
          id="address"
          type="text"
          class="form-control"
          formControlName="address">
      </div>

      <div class="form-group">
        <label>Position:</label>
        <select
          class="form-control"
          formControlName="position">
          <option value="" disabled>Choose your position</option>
          <option *ngFor="let position of positionOptions"
                  [ngValue]="position">
            {{position}}
          </option>
        </select>
      </div>
    </div>

    <h3 class="heading">Education</h3>
    <div formGroupName="education">
      <app-autocomplete
        [settings]="settings"
        [sourceArray]="educationCenters"
        (resultValue)="getValue($event)">
      </app-autocomplete>

      <div class="form-group">
        <div class="custom-row">
          <div class="custom-col">
            <label>Entry year</label>
            <select
              class="form-control"
              formControlName="entryYear">
              <option value="" disabled>Choose entry year</option>
              <option *ngFor="let year of years"
                      [ngValue]="year">
                {{year}}
              </option>
            </select>
          </div>
          <div class="custom-col col-to-right">
            <label>Finish year</label>
            <select
              class="form-control select-year"
              formControlName="finishYear">
              <option value="" disabled>Choose leave year</option>
              <option *ngFor="let year of years"
                      [ngValue]="year">
                {{year}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Degree:</label>
        <input
          id="degree"
          type="text"
          class="form-control"
          formControlName="degree">
      </div>
    </div>

    <h3 class="heading">Working history</h3>
    <div formGroupName="workingExperience">
      <div class="form-group">
        <div class="custom-row">
          <div class="custom-col">
            <label>Place:</label>
            <input
              id="lastWorkingPlace"
              type="text"
              class="form-control"
              formControlName="lastWorkingPlace">
          </div>
          <div class="custom-col col-to-right">
            <label>Position:</label>
            <input
              id="lastPosition"
              type="text"
              class="form-control"
              formControlName="lastPosition">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-row">
          <div class="custom-col">
            <label>From:</label>
            <select
              class="form-control"
              formControlName="startWorkingYear">
              <option value="" disabled>Choose a year</option>
              <option *ngFor="let year of years"
                      [ngValue]="year">
                {{year}}
              </option>
            </select>
          </div>
          <div class="custom-col col-to-right">
            <label>To:</label>
            <select
              class="form-control select-year"
              formControlName="endWorkingYear">
              <option value="" disabled>Choose a year</option>
              <option *ngFor="let year of years"
                      [ngValue]="year">
                {{year}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Reason for leaving:</label>
        <input
          id="reasonForLeaving"
          type="text"
          class="form-control"
          formControlName="reasonForLeaving">
      </div>
    </div>

    <button type="submit"
            class="btn btn-danger"
            [disabled]="!applicationForm.valid">
      Submit
    </button>

  </form>
</div>
