@primary-red-color: #F40009;

div {
  margin: 20px auto;
  width: 500px;

  & h3 {
    text-align: center;
  }
}

.btn-other {
  background: @primary-red-color;
  color: white;
  border-radius: 10px;
  border: 2px solid @primary-red-color;
  font-weight: 500;
  transition-duration: 0.4s;
  padding: 10px;
  opacity: 0.8;
  width: 200px;
}

.btn-other:hover,
.btn-other:focus {
  background: white;
  color: @primary-red-color;
  outline: none;
}

