<div id="contact-section">
  <h3 class="title">{{contactSection.title}}</h3>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full name</label>
      <input id="name"
             type="text"
             class="form-control"
             formControlName="name">
      <span *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
            class="text-muted">
        Please enter your full name!
      </span>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input id="email"
             type="text"
             class="form-control"
             formControlName="email">
      <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
            class="text-muted">
        Please enter valid email address!
      </span>
    </div>
    <div class="form-group">
      <label>Topic</label>
      <input id="topic"
             type="text"
             class="form-control"
             formControlName="topic">
      <span *ngIf="!contactForm.get('topic').valid && contactForm.get('topic').touched"
            class="text-muted">
        Please enter a topic!
      </span>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea id="message"
                type="text"
                class="form-control"
                rows="3"
                formControlName="message">
      </textarea>
      <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
            class="text-muted">
        Please enter your message!
      </span>
    </div>

    <div class="form-group">
      <input type="checkbox"
             id="checkAge"
             name="checkAge"
             style="margin-right: 10px"
             formControlName="checkAge">
      <label for="checkAge">Enter your age</label>
      <div *ngIf="contactForm.get('checkAge').value">
        <label>Age</label>
        <input id="age"
               type="number"
               class="form-control"
               formControlName="age">
        <span *ngIf="!contactForm.get('age').valid && contactForm.get('age').touched"
              class="text-muted">
        Please enter your age!
      </span>
      </div>
    </div>
    <button type="submit"
            class="btn btn-danger"
            [disabled]="!contactForm.valid">
      Submit
    </button>
  </form>

</div>

