<div class="row progress-row">
  <div class="col-4 sections-col" *ngFor="let sectionIcon of sectionsIcons; let i = index">
    <div class="row">
      <div class="col-6">
        <object
          [ngClass]="{'highlighted': i + 1 <= section}"
          type="image/svg+xml"
          [data]="sectionIcon | sanitizeUrl"
          class="sections-icon">
          Your browser does not support SVG
        </object>
      </div>
      <div class="col-6" *ngIf="i != sectionsIcons.length - 1">
        <hr [ngClass]="{'highlighted': i + 1 < section}">
      </div>
    </div>
  </div>
</div>

<div id="signup-section">

  <!--    <app-alert-->
  <!--      [message]="error"-->
  <!--      *ngIf="error"-->
  <!--      (close)="onHandleError()"></app-alert>-->

  <!--    <div *ngIf="isLoading" align="center">-->
  <!--      <app-loading-spinner></app-loading-spinner>-->
  <!--    </div>-->

  <form [formGroup]="signUpForm1"
        class="section-1"
        *ngIf="section === 1"
        (ngSubmit)="onSubmit(signUpForm1)">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input id="firstName"
             type="text"
             class="form-control"
             formControlName="firstName">
      <span *ngIf="!signUpForm1.get('firstName').valid && signUpForm1.get('firstName').touched"
            class="text-muted">
        Please enter your first name!
      </span>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input id="lastName"
             type="text"
             class="form-control"
             formControlName="lastName">
      <span *ngIf="!signUpForm1.get('lastName').valid && signUpForm1.get('lastName').touched"
            class="text-muted">
        Please enter your last name!
      </span>
    </div>

    <button type="submit"
            class="btn btn-danger"
            [disabled]="!signUpForm1.valid">
      Next
    </button>
  </form>

  <form [formGroup]="signUpForm2"
        class="section-2"
        *ngIf="section === 2"
        (ngSubmit)="onSubmit(signUpForm2)">
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <input id="dateOfBirth"
             type="date"
             class="form-control"
             formControlName="dateOfBirth">
      <span *ngIf="!signUpForm2.get('dateOfBirth').valid && signUpForm2.get('dateOfBirth').touched"
            class="text-muted">
        Please enter your date of birth!
      </span>
    </div>

    <button type="submit"
            class="btn btn-danger"
            [disabled]="!signUpForm2.valid">
      Next
    </button>

  </form>

  <form [formGroup]="signUpForm3"
        class="section-3"
        *ngIf="section === 3"
        (ngSubmit)="onSubmit(signUpForm3)">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email"
             type="text"
             class="form-control"
             formControlName="email">
      <span *ngIf="!signUpForm3.get('email').valid && signUpForm3.get('email').touched"
            class="text-muted">
        Please enter valid email address!
      </span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             class="form-control"
             formControlName="password">
      <span *ngIf="!signUpForm3.get('password').valid && signUpForm3.get('password').touched"
            class="text-muted">
        Please enter a valid password!
      </span>
    </div>
    <button type="submit"
            class="btn btn-danger"
            [disabled]="!signUpForm3.valid">
      Submit
    </button>
  </form>

  <p>Already have an account? <span class="sign-in-text" (click)="changePath('sign-up')">Log In</span></p>

</div>
