<div class="row progress-row">
  <div class="col-4 sections-col" *ngFor="let sectionIcon of sectionsIcons; let i = index">
    <div class="row">
      <div class="col-6">
        <object
          [ngClass]="{'highlighted': i + 1 <= section}"
          type="image/svg+xml"
          [data]="sectionIcon | sanitizeUrl"
          class="sections-icon">
          Your browser does not support SVG
        </object>
      </div>
      <div class="col-6" *ngIf="i != sectionsIcons.length - 1">
        <hr [ngClass]="{'highlighted': i + 1 < section}">
      </div>
    </div>
  </div>
</div>

<div id="signup-section">

  <app-name-section *ngIf="section === 1"></app-name-section>
  <app-birthday-section *ngIf="section === 2"></app-birthday-section>
  <app-email-password-section *ngIf="section === 3"></app-email-password-section>

  <p>Already have an account? <span class="sign-in-text" (click)="changePath('log-in')">Log In</span></p>

</div>
