<form [formGroup]="signUpForm"
      class="section-3"
      (ngSubmit)="onSubmit(signUpForm)">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email"
           type="text"
           class="form-control"
           formControlName="email">
    <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
          class="text-muted">
        Please enter valid email address!
      </span>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password"
           type="password"
           class="form-control"
           formControlName="password">
    <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched"
          class="text-muted">
        Please enter a valid password!
      </span>
  </div>
  <button type="submit"
          class="btn btn-danger"
          [disabled]="!signUpForm.valid">
    Submit
  </button>
</form>
