@import '../variables.less';

.autocomplete-section {
  width: 450px;
  margin: 5% auto;
  border: 2px solid @primary-red-color;
  border-radius: 20px;
  padding: 2%;
  position: relative;

  .form-group {
    margin-right: 3%;
  }

  .search-button {
    margin: 5% 0;
    width: 100%;
  }
}

.autocomplete-row {
  display: flex;
  position: relative;
  margin: 3%;

  & .autocomplete-col {
    display: block;

    & .pickUpTime,
    & .dropOffTime {
      width: 100%;
    }
  }
}

