@primary-red-color: #F40009;

.main-view{
  width: 100vw;
  height: 80vh;

  background-image: url("../../assets/images/main-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  opacity: 0.8;

  & .card {
    width: 20rem;
    margin: auto;
  }
}

.col-lg-4 {
  margin: 5% 0;
  text-align: center;
  align-items: center;
  width: 100px;

  & img {
    margin-bottom: 20px;
    fill: #000;

    & :hover {
      fill: @primary-red-color;
    }
  }
}
